@charset "utf-8";
/* CSS Document */
#contents {
	height: 600px;
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	background-color: #FFF;
	overflow: hidden;
	color: #000000;
}
