z@charset "utf-8";
#about_text {
	width: 380px;
	height: 400px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	overflow: scroll;
	margin-top: 10px;
}
#bottom_padding {
	float: left;
	height: 200px;
	width: 717px;
}
#prof_photo {
	width: 300px;
	height: 500px;
	float: left;
	clear: left;
	margin-right: 10px;
	margin-top: 10px;
}
