@charset "utf-8";
body {
	margin-top: 0px;

}
.wait {
	cursor: url(http://88154f88faf2aaa2.main.jp/wait.ani), default;
}
.help {
	cursor: url(http://88154f88faf2aaa2.main.jp/help.cur), default;
}
.face {
	cursor: url(http://88154f88faf2aaa2.main.jp/arrow.cur), default;
}
 #scrollbar03::-webkit-scrollbar {
 overflow:hidden;
 width:5px;
 background:#ffff00;
 -webkit-border-radius:3px;
 border-radius:3px;
}
 #scrollbar03::-webkit-scrollbar:horizontal {
 height:5px;
}
#scrollbar03::-webkit-scrollbar-button {
 display:none;
}
#scrollbar03::-webkit-scrollbar-piece {
 background:#ffff00;
}
 #scrollbar03::-webkit-scrollbar-piece:start {
 background:#ffff00;
}
#scrollbar03::-webkit-scrollbar-thumb {
 overflow:hidden;
 -webkit-border-radius:3px;
 border-radius:3px;
 background:#E4007F;
}
#scrollbar03::-webkit-scrollbar-corner {
 overflow:hidden;
 -webkit-border-radius:3px;
 border-radius:3px;
 background:#E4007F;
}
#t-header {
	background-color: #FF0;
	height: 30px;
	padding: 0px;
	margin: 0px;
}
#c_menu {
	width: 1010px;
	height: 45px;
	padding: 0px;
	top: 0px;
	left: auto;
	right: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}

#container {
	height: 600px;
	width: 1010px;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;
	padding-top: 0px;
	clear: left;
	margin-top: 30px;
}
#tsu_twittericon {
	height: 29px;
	width: 29px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}
#tsu_instaicon {
	height: 29px;
	width: 29px;
	margin-right: auto;
	margin-left: auto;
}
#tsu_youtubeicon {
	height: 29px;
	width: 29px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}


#header_left {
	height: 89px;
	width: 49px;
	float: left;
	margin-left: 128px;
	margin-top: 219px;
}




#mein-nav {
	list-style-type: none;
	height: 45px;
	width: 817px;
	border: 1px solid #cccccc;
	margin-left: 137px;
	margin-top: 0px;
	padding-top: 0px;
	background-color: #FFF;
	padding-left: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-right: auto;
}
#m-menu {
	height: 35px;
	width: 81px;
	position: relative;
	float: left;
	background-color: #FFF;
	padding-left: 12px;
	padding-right: 2px;
	margin-top: 5px;
}

#m-design {
	background-image: url(../image/contents/menu/c_design_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-design a {
	height: 45px;
	width: 68px;
	background-image: url(../image/contents/menu/c_design_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-design a:hover {
	background-image: url(../image/contents/menu/c_design_on.gif);
}
#m-gift {
	background-image: url(../image/contents/menu/c_gift_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-gift a {
	background-image: url(../image/contents/menu/c_gift_off.gif);
	height: 45px;
	width: 55px;
	text-indent: -9999px;
	display: block;
	background-repeat: no-repeat;
}
#m-gift a:hover {
	background-image: url(../image/contents/menu/c_gift_on.gif);
}
#m-illust {
	background-image: url(../image/contents/menu/c_illust_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-illust a {
	background-image: url(../image/contents/menu/c_illust_off.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	height: 45px;
	width: 98px;
}
#m-illust a:hover {
	background-image: url(../image/contents/menu/c_illust_on.gif);
}
#m-shop {
	background-image: url(../image/contents/menu/c_store_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-shop a {
	height: 45px;
	width: 61px;
	background-image: url(../image/contents/menu/c_shop_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-shop a:hover {
	background-image: url(../image/contents/menu/c_shop_on.gif);
}
#m-about {
	background-image: url(../image/contents/menu/c_about_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-about a {
	height: 45px;
	width: 70px;
	background-image: url(../image/contents/menu/c_about_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-about a:hover {
	background-image: url(../image/contents/menu/c_about_on.gif);
}
#m-port {
	background-image: url(../image/contents/menu/c_port_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-port a {
	height: 45px;
	width: 85px;
	background-image: url(../image/contents/menu/c_port_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-port a:hover {
	background-image: url(../image/contents/menu/c_port_on.gif);
}
#m-contact {
	background-image: url(../image/contents/menu/c_contact_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-contact a {
	height: 45px;
	width: 81px;
	background-image: url(../image/contents/menu/c_contact_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-contact a:hover {
	background-image: url(../image/contents/menu/c_contact_on.gif);
}
#m-blog {
	background-image: url(../image/contents/menu/c_blog_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-blog a {
	height: 45px;
	width: 60px;
	background-image: url(../image/contents/menu/c_blog_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-blog a:hover {
	background-image: url(../image/contents/menu/c_blog_on.gif);
}
#m-store {
	background-image: url(../image/contents/menu/c_store_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-store a {
	height: 45px;
	width: 68px;
	background-image: url(../image/contents/menu/c_store_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-store a:hover {
	background-image: url(../image/contents/menu/c_store_on.gif);
}
#m-event {
	background-image: url(../image/contents/menu/c_event_off.gif);
	background-repeat: no-repeat;
	float: left;
}
#m-event a {
	height: 45px;
	width: 76px;
	background-image: url(../image/contents/menu/c_event_off.gif);
	display: block;
	text-indent: -9999px;
	background-repeat: no-repeat;
}
#m-event a:hover {
	background-image: url(../image/contents/menu/c_event_on.gif);
}




#left {
	float: left;
	height: 600px;
	width: 178px;
	clear: left;
	position: relative;
	z-index: 2;
	margin-top: 0px;
	padding-top: 0px;
	top: 0px;
}
#left_side {
	height: 600px;
	width: 49px;
	float: right;
	background-color: #F5F5F5;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	margin-top: auto;
	clear: left;
	position: absolute;
	top: 0px;
	left: 128px;
	z-index: 3;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
}
#kanban_153 {
	position: absolute;
	z-index: 7;
	top: 0px;
	right: 0px;
	height: auto;
	width: 162px;
	color: #19328C;
	font-size: 10px;
	text-align: right;
}

#neon_design {
	height: 95px;
	width: 195px;
	position: absolute;
	top: 60px;
	z-index: 6;
	right: 0px;
}

#c_hana_left {
	height: 364px;
	width: 281px;
	margin-left: 0px;
	position: absolute;
	left: 0px;
	bottom: -2px;
	z-index: 4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#footer_waku {
	background-image: url(../image/contents/c_footer_fensu.gif);
	height: 96px;
	width: 730px;
	position: absolute;
	z-index: 5;
	left: 281px;
	bottom: -2px;
	background-repeat: no-repeat;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#contents {
	height: 580px;
	width: 717px;
	float: left;
	background-repeat: no-repeat;
	background-color: #FFF;
	z-index: auto;
	border: 1px solid #CCC;
	color: #19328C;
	font-size: 11px;
	overflow: scroll;
	padding: 10px;
}



#light_side {
	height: 600px;
	width: 49px;
	float: left;
	background-color: #F5F5F5;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
#footer {
	height: 50px;
	background-color: #FFFF00;
	position: static;
	padding: 0px;
	width: auto;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#tsubacha-copylight {
	height: 20px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: #19328C;
	font-size: 12px;
}
