@charset "utf-8";
@import url("../webfonts/Oswald_Stencil/stylesheet.css");

/* 標準可変メディア
   メモ : 可変メディアでは、HTML からメディアの高さおよび幅の属性を削除する必要がある
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
body {
	background-color: #FFFF00;
}

/* IE 6 では最大幅がサポートされていないため、デフォルトで幅 100% に設定される */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver 可変グリッドプロパティ
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	以下からヒントを入手 : Ethan Marcotte 氏の「レスポンシブ Web デザイン」 
	http://www.alistapart.com/articles/responsive-web-design
	
	および Joni Korpi 氏の「Golden Grid System」
	http://goldengridsystem.com/ 
*/

/* モバイルレイアウト : 480 px およびそれ以下. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
	
}
 ul {
 list-style: none;
 margin: 0px;
 padding: 0px;}


#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.instagram_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 4px;
	margin-bottom: 1px;
	margin-left: 4px;
}
.twitter_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.youtube {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 2px;
}

#nev1 {
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
	clear: both;
	float: left;
}
#nev2 {
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
	list-style-type: none;
	clear: both;
	float: left;
}

a {
	text-decoration: none;
}

#nev3 {
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
	clear: both;
	float: left;
}

#nev4 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 10px;
}

#nev5 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	font-family: "Oswald Stencil";
	font-size: 24px;
	margin-right: auto;
	margin-bottom: 10px;
	background-color: #FFF;
}
#nev6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color: #039;
	text-align: center;
}
#nev0 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* タブレットレイアウト : 481 px ～ 768 px。モバイルレイアウトからスタイルを継承。 */

@media only screen and (min-width: 481px) {
#nev5 table tr td {
	border: 2px solid #039;
	padding: 0px;
	font-size: 24px;
	text-align: center;
	font-family: "Oswald Stencil";
	color: #039;
}

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.instagram_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 4px;
	margin-bottom: 1px;
	margin-left: 4px;
}
.twitter_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.youtube {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 2px;
}
#nev1 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
}
#nev2 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
	list-style-type: none;
}

#nev3 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
}

#nev4 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 10px;
}


#nev5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-family: "Oswald Stencil";
	background-color: #FFF;
}
#nev6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color: #039;
	text-align: center;
}
#nev0 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* デスクトップレイアウト : 769 px ～最大 1232 px。モバイルレイアウトとタブレットレイアウトからスタイルを継承。 */

@media only screen and (min-width: 769px) {
#nev5 table tr td {
	border: 2px solid #039;
	padding: 0px;
	font-size: 24px;
	text-align: center;
	font-family: "Oswald Stencil";
	color: #039;
}
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nev1 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-bottom: 5px;
	margin-right: auto;
}
.instagram_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 4px;
	margin-bottom: 1px;
	margin-left: 4px;
}
.twitter_sp {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.youtube {
	height: 28px;
	width: 28px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 2px;
}
#nev2 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
	list-style-type: none;
	list-style-position: outside;
}

#nev3 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
}

#nev4 {
	clear: both;
	float: left;
	margin-left: auto;
	width: 100%;
	display: block;
	margin-right: auto;
	margin-bottom: 5px;
}

#nev5 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #FFF;
}
#nev6 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	color: #039;
	text-align: center;
}
#nev0 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

#nev5 table tr td {
	border: 2px solid #039;
	padding: 0px;
	font-size: 24px;
	text-align: center;
	font-family: "Oswald Stencil";
	color: #039;

}
.slicknav_menu {
    display:none;
}
 @media screen and (max-width: 90em) {
    /* #menu is the original menu */
    #menu {
        display:none;
    }
     
    .slicknav_menu {
        display:block;
    }
}
